<div class="container-flued">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Хянах самбар</a>
      </div>
    </div>
  </nav>
</div>
<div class="container-flued">
  <div class="row line">
    <div id="continentChart" class="col-md-5 col-xs-12 box" style="height: 300px;"></div>
    <div class="col-md-7 col-xs-12 box">
      <div class="row">
        <div class="row flex-container">
          <div class="form-group col-md-6">

            <select class="form-control" [(ngModel)]="selectedContinents" (ngModelChange)="onContinents($event)">
              <option *ngFor="let c of continents" [ngValue]="c">{{c.name}}</option>
            </select>

          </div>
        </div>
        <div class="row flex-container">
          <div class="col-md-5 border">
            <div class="box-title">Хамгийн их аялагчтай</div>
            <table class="table table-hover table-responsive">
              <tr *ngFor="let t of selectedContinents.countries">
                <td>{{t.id}}</td>
                <td>{{t.name}}</td>
              </tr>
              <!-- <tr>
                  <td>1</td>
                  <td>Монгол</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Солонгос</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Япон</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Орос</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Хятад</td>
                </tr> -->
            </table>
          </div>
          <div class="col-md-6 border">
            <div class="box-title">Шилдэг 5 зочид буудал</div>
            <table class="table table-hover table-responsive">
              <tr *ngFor="let h of selectedContinents.hotels">
                <td>{{h.id}}</td>
                <td>{{h.name}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row line">
    <div class="row flex-container">
      <div class="form-group col-md-4">
        <select class="form-control" [(ngModel)]="selectedCountries" (ngModelChange)="onCountries($event)">
              <option *ngFor="let trv of travels" [ngValue]="trv">{{trv.country}}</option>
            </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-xs-12">
        <div class="box-title">Аялалын төрөл</div>
        <div id="travelTypeChart" style="height: 300px;"></div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="box-title">Хамгийн өндөр үнэлгээтэй газрууд</div>
        <div id="chart_div" style="height: 300px;"></div>
      </div>
    </div>
  </div>
  <div class="row line col-md-offset-1">
    <div class="col-md-12 col-xs-12">
      <div class="box-title">Хийж үзэх зүйлс</div>
      <div id="suggestedChart" style="height: 300px;"></div>
    </div>
  </div>
</div>
